@media screen and (min-width:786px) {
    .overlay2{
        position: absolute;
        width: 100%;
     height: fit-content; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.511);
         z-index: 99999999999999999999999;
       
    
    }     
    .invoiceInfo{
        width: 30% !important;
       top: 0 !important;
    }
}

.invoiceInfo{
    width: 100%;
}