
    @media  screen and (min-width:786px) {
        .invoice{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        }
        .invoice__status{
            grid-column: 5/6;
             grid-column-start: 6;
        }

        .invoice__amount{
            grid-column-start: 4;
            grid-row: 1;
            grid-column-start: 5;
        }

        .invoice__ownerName{
            grid-column-start: 3;
            grid-column-start: 4;
            grid-row: 1;
             justify-self: start; 

        }
    }
