

#root{
    position: relative;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.511);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    /* top: 30%;
    margin-right: 0;
    margin-left: 0;
    left: 0;
    right: 0; */
    max-width: fit-content;
    height: fit-content;
    padding: 2rem;
}