@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500&display=swap');
body{
  background: #141625;
  font-size:1rem;
  font-family: 'League Spartan', sans-serif;

}


.mycontainer{
  max-width: 55rem;
  margin-inline: auto;
  padding: 10px;
  margin-top: 2rem;
}

h1{
   font-size: 1.4rem; 
  font-weight: bold;
}
p{
  color: white;
  font-size: 0.9rem;
  
  letter-spacing: 0.6px;
}

h1,h2{
  color: white;
}